@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-bg {
  background-color: #0E1952;
}

.footer-colour {
  background-color: #2F3863;
}

h3 {
  font-size: xx-large;
  font-weight: 600;
}

.error-message{
  color: rgb(255, 48, 48);
  font-weight: 700;
}